:host {
  #homepageimg {
    width: 100%;
  }

  @media all and (min-width: 1369px) and (max-width: 4068px) {
    #homepageimg {
      width: 100%;
      height: 800px;
    }
  }

  @media all and (min-width: 500px) and (max-width: 1368px) {
    #homepageimg {
      width: 100%;
      height: 600px;
    }
  }

  .container {
    width: 100%;

    .mx-auto {
      text-align: center;
    }

    #homePageHeader {
      font-family: Cambria, Palatino Linotype, Palatino, Liberation Serif, serif, sans-serif;
      color: black;
      font-size: 40px;
      font-weight: 700;
    }



    @media all and (min-width: 1369px) and (max-width: 4068px) {
      #stackMean {
        width: 100%;
        height: 800px;
      }
    }

    @media all and (min-width: 500px) and (max-width: 1368px) {
      #stackMean {
        width: 100%;
        height: 600px;
      }
    }
  }
}
