<img id="shopimg"  src="../assets/shop/mainShop.jpg">
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="card ">
        <div class="card-body uniqeShopCard">
          <h5 class="card-title">BUY ALL</h5>
          <img src="../../../../../assets/shop/buyAll/logo.jpg">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">FORTUNE 3D</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>


